body {
  font-family: 'Times New Roman', Times, serif;
  color: #404040;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.links {
  text-decoration: none;
  color: white;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.75vw;
  margin: 0;
}

#appToolBar {
  background-image: linear-gradient(#6262da,#eceaea);
  display: flex;
  justify-content: space-around;
  height: 15vh;
}

#logo {
  height: 90%;
}

#home, #contactDiv {
  width: 95%;
  height: 80vh;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #6262da;
  box-shadow: 5px 5px 15px #6262da;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#home-heading, #contact-heading {
  font-style: italic;
  font-size: 5vw;
  color: #6262da;
  text-shadow: 10px 10px 10px #dbd9d9;
  margin: 0;
}

.home-para {
  font-size: 2vw;
  margin: 0;
}

#one-stop-solution-para {
  font-style: italic;
  font-size: 2.5vw;
  color: #6262da;
  margin-top: 1%;
  margin-bottom: 1%;
  margin: 0;
}

#catering-link-in-home, #events-link-in-home, #cafeteria-link-in-home {
  color: #6262da;
  font-size: 2vw;
}

#offers-home {
  width: 80%;
  border-radius: 50px 0px;
  border: 2px solid #6262da;
  text-align: center;
  box-shadow: 5px 5px 10px #6262da;
  margin-top: 2%;
  margin-bottom: 2%;
  background-image: linear-gradient(#6262da, white);
  color: whitesmoke;
  padding: 5vh

}

#we-offer {
  font-size: 2vw;
  font-style: italic;
  margin: 0vh 0vh 2.5vh 0vh;
}

.offers-list {
  font-size: 2vw;
  margin: 0;
}

#contactDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactInfo {
  font-size: 2.5vw;
}

@media (max-width:760px) {
  #appToolBar {
    flex-direction: column;
    height: auto;
  }
  #logo {
    height: 20%;
    width: 80%;
  }
  .links {
    font-size: 5vw;
  }
  #catering-link-in-home, #events-link-in-home, #cafeteria-link-in-home {
    font-size: 2.5vw;
  }
}